<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sandro Munda</title>
    <meta name="description" content="Sandro Munda's website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/public/img/favicon.png" />

    {% css_asset_tag global %}
    - /_assets/app.scss
    {% endcss_asset_tag %}
  </head>
  <body>
    <header>
      <h1>Sandro Munda</h1>
      <h2>Building products by passion</h2>
    </header>

    <div class="content-wrapper">
      <div class="container">
        <div class="container__item">
          <section>
            <div class="section-title">
              <img class="section-title__icon rounded" src="/public/img/favicon.png" alt="Me icon">
              <h3>ME</h3>
            </div>
            <p>
              I'm always aiming for excellence and productivity in everything I do.

              I’m the founder and CEO of <a
                href="https://www.forestadmin.com">Forest Admin</a>. I have a
              software engineer background. I’m passionate about entrepreneurship,
              startups, productivity and high quality code/architecture.
            </p>
          </section>
          <aside>
            <img class="rounded" width="150px" src="/public/img/me.png" alt="Me avatar">
          </aside>
        </div>

        <div class="container__item">
          <section>
            <div class="section-title">
              <img class="section-title__icon" width="48px" src="/public/img/product-icon--small.png" alt="Product small icon">
              <h3>Products</h3>
            </div>

            <div class="product-item">
              <h4>Forest Admin</h4>
              <a href="https://www.forestadmin.com">https://www.forestadmin.com</a>
              <p>
                Forest Admin is the first "back office as a service" that helps
                companies to take control of their data with no time wasted on
                internal tools developed in-house. We completely redefine the
                admin panel of any web applications.
              </p>
            </div>

            <div class="product-item">
              <h4>JSONAPI Serializer</h4>
              <a href="https://github.com/SeyZ/jsonapi-serializer">https://github.com/SeyZ/jsonapi-serializer</a>
              <p>
                A Node.js framework agnostic library for serializing and deserializing
                data to <a href="https://jsonapi.org">JSON API</a>.
              </p>
            </div>
          </section>

        </div>
      </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38013719-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-38013719-1');
    </script>
  </body>
</html>
