<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook meta -->
    <meta property="og:url" content="https://www.munda.me" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Sandro Munda" />
    <meta property="og:title" content="Sandro Munda" />
    <meta property="og:description" content="Building products by passion" />
    <meta property="og:image" content="https://www.munda.me/public/img/meta-facebook.jpg" />

    <!-- Twitter meta -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@SeyZ_" />
    <meta name="twitter:title" content="Sandro Munda" />
    <meta name="twitter:description" content="Building products by passion" />
    <meta property="og:image" content="https://www.munda.me/public/img/meta-twitter.jpg" />

    <link rel="icon" type="image/png" href="/public/img/favicon.png" />

    <title>Sandro Munda</title>
    <meta name="description" content="This is the personal Sandro Munda's website - Building products by passion.">

    {% css_asset_tag global %}
    - /_assets/app.scss
    {% endcss_asset_tag %}
  </head>
  <body>
    {{ content }}

    {% javascript_asset_tag global %}
    - /_assets/jquery.js
    - /_assets/munda.js
    {% endjavascript_asset_tag %}
  </body>
</html>
